@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
	font-size:100%;
	font-family: 'Exo', sans-serif;
	color:#3a3a3a;
}

.body {
	width:576px;
	margin:0 auto;
	display:block;
}

h1 {
	width:498px;
	height:64px;
	background-color: black;
	color: white;
	font-family: exo;
	font-weight: thin;
	padding:17px 0px 0px 78px;
	letter-spacing:1px;
	font-size:2.2em;
	margin:0 auto;
}

form {
	width:100%;
	margin:0 auto;
}

label {
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

input, textarea {
	font-family: 'Exo', sans-serif;
	width:439px;
	height:27px;
	background: white;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color: black;
}
	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

textarea {
	height:150px;
	font-family: 'Exo', sans-serif;
	background-color: white;
}

#submit {
	font-family: 'Exo', sans-serif;
	background-color: black;
	color: white;
	width:127px;
	height:38px;
	border:none;
	margin-top:20px;
	cursor:pointer;
}
	#submit:hover {
		opacity:0.6;
	}

footer{
	border:none;
	float:right;
	margin:0px 59px 0 0px;
}